body {background-image:url('http://www.flashline.cn/qq.swf?kc=6/48982.swf');}
a:link{position: relative; 
	left: 320px;
      text-decoration:none;
      font-family:"Times New Roman", Times, serif;
       font-size:30px;
       color:black; }
